.header {
    height: 150px;
    background: #2b416e;
    margin-bottom: 50px;
}

.pagination-outer{ text-align: center; }
.pagination{
    background-color: #fff;
    font-family: 'Oswald', sans-serif;
    padding: 10px 15px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.2);
    display: inline-flex;
    position: relative;
    z-index: 1;
}
.pagination li a.page-link{
    color: #555;
    background: transparent;
    font-size: 23px;
    font-weight: 400;
    line-height: 35px;
    height: 35px;
    width: 35px;
    padding: 0;
    margin: 0 5px;
    border: none;
    border-radius: 0;
    display: block;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease 0.1s;
}
.pagination li a.page-link:hover,
.pagination li a.page-link:focus,
.pagination li.active a.page-link{
    color: #000;
    background: #f5f5f5;
    box-shadow: 0 0 10px -2px rgba(0,0,0,0.5);
}
.pagination li:first-child a.page-link,
.pagination li:last-child a.page-link{
    width: auto;
}
.pagination li:first-child a.page-link:hover,
.pagination li:last-child a.page-link:hover{
    background-color: transparent;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    box-shadow: none;
}
.pagination li a.page-link:before{
    content: '';
    background-color: #000;
    height: 150%;
    width: 5px;
    transform-origin: left bottom;
    position: absolute;
    left: -5px;
    bottom: 0;
    transition: all 0.3s ease 0s;
}
.pagination li.active a.page-link:before,
.pagination li a.page-link:hover:before{
    transform: rotate(90deg);
    bottom: 2px;
}
.pagination li:first-child a.page-link:before,
.pagination li:last-child a.page-link:before{
    display: none;
}
@media only screen and (max-width: 480px){
    .pagination{
        font-size: 0;
        display: block;
    }
    .pagination li{
        display: inline-block;
        margin: 0 0 10px;
    }
}

.disabled {
    pointer-events: none;
    cursor: default;
}